@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/VT323.ttf") format("truetype");
}

@layer components {
  .btn-defaults {
    @apply text-sm font-medium text-green-400 border border-dashed border-green-400 bg-transparent hover:bg-green-400 hover:text-zinc-800 focus:bg-green-400 focus:text-zinc-800 focus:z-10 focus:border-green-500 ring-offset-2 dark:focus:border-zinc-800 disabled:opacity-50 disabled:cursor-not-allowed focus:outline-none focus:ring-2 focus:ring-green-400 ring-offset-zinc-800;
  }

  .badge-defaults {
    @apply inline-flex items-center bg-transparent rounded-none px-3 py-0.5 text-sm font-medium;
  }

  .a-defaults {
    @apply underline underline-offset-4 hover:text-green-400 decoration-dotted focus:outline-none focus:text-green-400 rounded-md focus-visible:ring-2 focus-visible:ring-offset-2 ring-offset-transparent focus-visible:ring-green-400;
  }
}
